# This file is part of the Jsonify.
#
# (c) 2021 airSlate <support@airslate.com>
#
# For the full copyright and license information, please view
# the LICENSE file that was distributed with this source code.

# Git config.
.git
.gitattributes
.gitignore
.gitkeep

# IDEs & Editors.
.idea

# Build & Project files.
requirements/*
!requirements/requirements-docker.txt
Makefile
README.rst
*.env.example

# Docker stuff.
.dockerignore
Dockerfile
docker-compose.yml

# Python & Virtualenv.
**/*.py[cod]
**/__pycache__
.venv

# Databses.
*.sqlite3
