# Local database to use w/o Docker. Comment it to use the default value.
# To see the default value refer to 'DevelopmentConfig' in 'config.py' file.
#
# DEV_DATABASE_URL=sqlite:////home/user/jsonify-dev.sqlite3

# In-memory database for testing purposes.
TEST_DATABASE_URL=sqlite://

# Production database.
# dialect[+driver]://user:password@host/dbname[?key=value..]
DATABASE_URL=mysql+pymysql://jsonify:jsonify@db:3306/jsonify

# Setting this to any value will enable maintenance mode.
# FLASK_MAINTENANCE=

# Base URL for airSlate API.
AS_API_BASE_URL=https://api.airslate.com

# Bot's credentials obtained in https://developers.airslate.com .
BOT_CLIENT_ID=
BOT_CLIENT_SECRET=
